@page
@model PizzaMama.Pages.Admin.IndexModel
@{
}

<h1>Authentifiez vous</h1>
@if (Model.failedLogin)
{
    <p class="alert alert-danger">Erreur d'authentification!</p>
}
<form method="post">
    <input type="text" name="username" placeholder="Login"><br>
    <br />
    <input type="password" name="password" placeholder="Mot de passe"><br>
    <br />
    <button class="btn btn-outline-primary">Se connecter</button>
</form>
